@font-face {
  font-family: 'Luckiest Guy';
  src: url('assets/fonts/LuckiestGuy-Regular.woff2') format('woff2'),
      url('assets/fonts/LuckiestGuy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('assets/fonts/Baloo2-Regular.woff2') format('woff2'),
      url('assets/fonts/Baloo2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('assets/fonts/Baloo2-Medium.woff2') format('woff2'),
      url('assets/fonts/Baloo2-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('assets/fonts/Baloo2-SemiBold.woff2') format('woff2'),
      url('assets/fonts/Baloo2-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('assets/fonts/Baloo2-Bold.woff2') format('woff2'),
      url('assets/fonts/Baloo2-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  width: 100%;
  opacity: 0.8;
  background: seashell;
  line-height: 1.2;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 5rem; 
}

.container {
  display: flex;
  justify-content: center;
  min-height: 50%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem 0rem;
}

.card-div-left {
  min-width: 20rem;
  height: 34rem;
  align-self: center;
  margin-top: 2rem;
}

.img-div-right {
  position: relative;
}

#content {
  height: 82%;
  border-radius: 9px;
  background: #FFFBF8;
  box-shadow: 5px 4px 6px 0px #00000080;
  width: 321px;
}

button {
  font-family: 'Baloo 2';
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  font-size: 1.1rem;
  border-radius: 3px;
  box-shadow: 2px 2px 0px black;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  border: 2px solid #000000bf;
}

button:focus {
  outline: 3px solid seashell;
}

button:focus-visible {
  outline-offset: 3px;
  outline: 2px solid rgb(255, 219, 213);
  border-radius: 3px;
}

button:active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  outline-offset: 2px;
  box-shadow: 2px 2px 0 #3decf0;
  border: solid #F8008C 2px;
}

.home-btn {
  background: #06D6A0;
}

.menu-btn {
  background: #ffffff;
}

.contact-btn {
  background: #EF476F;
}

.background-img {
  display: block;
  max-width: 310px;
  max-height: 600px;
  object-fit: contain;
}

.home-container {
  font-family: 'Baloo 2';
  text-align: center;
  max-width: 100%;
}

.menu-container {
  overflow-y: auto; 
  padding: 0 1rem;
  max-height: 438px;
}

.menu-section-titles {
  color: #df1a5d;
}

.day-span {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.time-span {
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.open-p {
  font-size: 1.3rem;
  text-align: left;
  margin-left: 1rem;
  padding: 2rem 0 0.5rem;
}

.regular-font {
  font-size: 1.2rem;
}

.bold-font {
  font-weight: bold;
}

.menu-p-margin {
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.home-greeting-title {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 2rem;
}

@media (max-width: 634px) {
  .img-div-right {
    position: relative;
  }

  .background-img {
    position: absolute;
    right: 24px;
    top: 133px;
    width: 50px;
  }
}

